.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #d37727;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BUTTON */

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #d5a67a;
  border-radius: 0.6em;
  cursor: pointer;
  /* display: flex;
  align-self: center; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.6em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 45px 45px #d5a67a inset, 0 0 0 0 #d5a67a;
  transition: all 150ms ease-in-out;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}
.btn:hover {
  box-shadow: 0 0 10px 0 #d5a67a inset, 0 0 10px 4px #d5a67a;
}

/* speech-bubble  */

.speech-bubble {
  width: 30%;
  position: relative;
  background: #fff;
  border-radius: 0.4em;
  padding: 10px;
  color: #000;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 36px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -18px;
  margin-bottom: -36px;
}
